body{
    background-color:lemonchiffon;
}

.cont-pr .row *{
    padding: 1rem 2rem;
    background-color: rgba(232, 208, 255, 0.768);
    border: 1px solid blueviolet;
}


.my-navbar-color{
    background-color: rgb(178, 199, 219);
}

.my-color-btn{
    background-color:rgb(105, 166, 236)
}
.my-color-btn:hover{
    background-color:rgb(255, 255, 255)
}
